@use './variables' as var;

@import '@a1rth/css-normalize';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: var.$foreground;
    background-color: #252525;
}

.container-fluid {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}