@use '../../../../app/styles/variables' as var;

.header {
    padding: 15px 0;
    border-bottom: 1px solid var.$primary;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}
